@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Fjalla+One&display=swap");
/* paleta de colores */
/* Fuentes */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

.logo img {
  height: 50px;
  width: 90px;
  margin-right: 30px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background-color: #161A1D !important;
}

.navbar-light .navbar-toggler-icon {
  background-image: url(img/120px-Hamburger_icon_white.svg.png);
  background-color: transparent;
}

.navbar-nav {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  font-style: italic;
}

.nav-link {
  color: #FFFFFF !important;
}
.nav-link.disabled {
  color: rgba(107, 107, 107, 0.541) !important;
}

.nav-item a:hover {
  color: #B1A7A6 !important;
}

/* -------------------------------------- */
/* ------------ BANNER MAIN ------------ */
/* -------------------------------------- */
#hero {
  min-height: 100vh;
  position: relative;
  display: flex;
}

.main {
  display: flex;
  height: calc(100vh - 65px);
  width: 100%;
  height: 700px;
  background-blend-mode: soft-light;
  position: relative;
  z-index: 2;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.651);
}

.capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgba(22, 26, 29, 0.8470588235) 5%, rgba(11, 9, 10, 0.631372549) 100%);
  opacity: 0.7;
}

.banner {
  width: 98%;
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.nright {
  display: flex;
  width: 100%;
  padding: 30px;
}

.nleft {
  width: 100%;
}

/* ------------ BANNER TITLE ------------ */
/* inicia titulos del banner */
.fecha {
  width: 100%;
  color: #FFFFFF;
  padding: 25px 0px 50px 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  animation-duration: 1s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}
.fecha h1 {
  font-size: 135px;
  text-transform: uppercase;
  font-style: italic;
  text-shadow: 5px 5px 3px #0B090A;
  font-weight: bolder;
}
.fecha h2 {
  margin-top: 3px;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 27px;
  margin-bottom: 12px;
  letter-spacing: 5px;
  text-shadow: 2px 3px 3px #0B090A;
}
.fecha h3 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 20px;
  text-shadow: 3px 3px 3px #0B090A;
}
.fecha h4 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 16px;
  text-shadow: 2px 2px 2px #0B090A;
}

.descpartido {
  padding: 10px;
  margin-top: 30px;
  margin-right: 60px;
  background-color: rgba(0, 0, 0, 0.295);
  border-radius: 7px;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* fin titulos del banner */
/* ------------- BANNER CARD ------------ */
/* inicia card del banner */
.card2 {
  margin-top: 28px;
  width: 100%;
  background: linear-gradient(270deg, #D3D3D3 5%, #F5F3F4 100%);
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 5px 5px 7px rgba(172, 170, 170, 0.267);
  border-radius: 5px;
  animation-duration: 1s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}

.card2-title {
  background: linear-gradient(270deg, #0B090A 5%, #161A1D 100%);
  text-align: left;
  position: relative;
  height: 95px;
  padding: 15px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.card2-title img {
  position: absolute;
  top: 17px;
  right: 15px;
  height: 55px;
}
.card2-title h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  color: #FFFFFF;
}
.card2-title p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  color: #FFFFFF;
}

.escudos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.escudos img {
  max-width: 65px;
}
.escudos span {
  margin: 0 30px;
  font-size: 24px;
  font-weight: 700;
}

.equipos {
  place-items: center;
  padding: 0 15px 15px;
  text-align: center;
  color: #161A1D;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0 5px;
}
.equipos span {
  margin-right: 30px;
  margin-left: 5px;
}

.entradas {
  margin-top: 10px;
  padding-top: 5px;
  text-align: center;
  justify-content: center;
  line-height: 5px;
  background: linear-gradient(270deg, #D3D3D3 5%, #F5F3F4 100%);
  border-radius: 0 0 5px 5px;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.651);
  border: 1px solid rgba(163, 163, 163, 0.678);
}
.entradas h4 {
  color: #161A1D;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  font-size: 22px;
  word-spacing: 5px;
  text-shadow: 1px 1px 2px rgb(168, 167, 167);
}
.entradas img {
  max-width: 85px;
}
.entradas:hover {
  transform: scale(1.02);
  transition: all 0.3s;
  filter: contrast(120%);
}

.entradas h4:hover {
  color: #E5383B;
}

/* fin card del banner */
/* -------------------------------------- */
/* ------- MID - SEGUNDO MODULO  -------- */
/* -------------------------------------- */
.mid {
  height: auto;
  background-image: url(img/fondo.jpg);
  background-blend-mode: soft-light;
  background-size: cover;
  background-color: rgba(20, 1, 1, 0.74);
  padding: 30px;
  padding-bottom: 5px;
}

.sec {
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.432);
  text-align: center;
}
.sec h2 {
  font-size: 40px;
  font-weight: 550;
  padding: 5px;
}

/* -------------------------------------- */
/* ------------ CONTENEDOR 1 ------------ */
/* -------------------------------------- */
.cont.cont1 {
  padding: 15px;
  height: 730px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 350px 350px 350px;
  grid-template-areas: "img1 img2 img3" "img4 img5 img6";
  grid-gap: 10px;
  margin-bottom: 50px;
}

/* ------------ CONTENEDOR 1 IMG AND HOVER ------------ */
.img, .img6, .img5, .img4, .img3, .img2 {
  background-size: cover;
  background-position: center;
  border-radius: 3px;
}

.img:hover, .img6:hover, .img5:hover, .img4:hover, .img3:hover, .img2:hover {
  transform: scale(1.04);
  transition: all 0.3s;
  box-shadow: 0 0 5px #0B090A;
  cursor: pointer;
  filter: contrast(120%);
}

/* ------------ CONTENEDOR 1 IMG1 ------------ */
.desc1, .desc1not, .desc2not, .desc3not, .desc4not, .desc5not, .desc6not, .desc7not, .desc8not, .desc9not, .desc10not {
  height: 120px;
  margin-top: 230px;
  background-color: rgba(0, 0, 0, 0.658);
  padding: 10px;
}
.desc1 button, .desc1not button, .desc2not button, .desc3not button, .desc4not button, .desc5not button, .desc6not button, .desc7not button, .desc8not button, .desc9not button, .desc10not button {
  background-color: #BA181B;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #FFFFFF;
  width: 80px;
  height: 30px;
  font-size: 14px;
  font-style: italic;
  font-weight: bolder;
  border-radius: 6px;
}

.img1 {
  grid-area: img1;
  background-image: url(img/noticia1.jpg);
}

.img h1, .img6 h1, .img5 h1, .img4 h1, .img3 h1, .img2 h1 {
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #FFFFFF;
  text-align: left;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.432);
  font-weight: 500;
}
.img h3, .img6 h3, .img5 h3, .img4 h3, .img3 h3, .img2 h3 {
  font-family: "Prompt", sans-serif;
  color: #FFFFFF;
  text-align: left;
  font-size: 12px;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.432);
  font-weight: lighter;
  text-transform: uppercase;
}

/* ------------ CONTENEDOR 1 IMG2 ------------ */
.desc2 {
  height: 120px;
  margin-top: 230px;
  background-color: rgba(0, 0, 0, 0.658);
  padding: 10px;
}
.desc2 button {
  background-color: #BA181B;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #FFFFFF;
  width: 80px;
  height: 30px;
  font-size: 14px;
  font-style: italic;
  font-weight: bolder;
  border-radius: 6px;
}

.img2 {
  grid-area: img2;
  background-image: url(img/noticia2.jpg);
}

/* ------------ CONTENEDOR 1 IMG3 ------------ */
.desc3 {
  height: 120px;
  margin-top: 230px;
  background-color: rgba(0, 0, 0, 0.658);
  padding: 10px;
}
.desc3 button {
  background-color: #BA181B;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #FFFFFF;
  width: 80px;
  height: 30px;
  font-size: 14px;
  font-style: italic;
  font-weight: bolder;
  border-radius: 6px;
}

.img3 {
  grid-area: img3;
  background-image: url(img/noticia3.jpg);
}

/* ------------ CONTENEDOR 1 IMG4 ------------ */
.desc4 {
  height: 120px;
  margin-top: 230px;
  background-color: rgba(0, 0, 0, 0.658);
  padding: 10px;
}
.desc4 button {
  background-color: #BA181B;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #FFFFFF;
  width: 80px;
  height: 30px;
  font-size: 14px;
  font-style: italic;
  font-weight: bolder;
  border-radius: 6px;
}

.img4 {
  grid-area: img4;
  background-image: url(img/noticia4.jpg);
}

/* ------------ CONTENEDOR 1 IMG5 ------------ */
.desc5 {
  height: 120px;
  margin-top: 230px;
  background-color: rgba(0, 0, 0, 0.658);
  padding: 10px;
}
.desc5 button {
  background-color: #BA181B;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #FFFFFF;
  width: 80px;
  height: 30px;
  font-size: 14px;
  font-style: italic;
  font-weight: bolder;
  border-radius: 6px;
}

.img5 {
  grid-area: img5;
  background-image: url(img/noticia5.jpg);
}

/* ------------ CONTENEDOR 1 IMG6 ------------ */
.desc6 {
  height: 120px;
  margin-top: 230px;
  background-color: rgba(0, 0, 0, 0.658);
  padding: 10px;
}
.desc6 button {
  background-color: #BA181B;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #FFFFFF;
  width: 80px;
  height: 30px;
  font-size: 14px;
  font-style: italic;
  font-weight: bolder;
  border-radius: 6px;
}

.img6 {
  grid-area: img6;
  background-image: url(img/noticia6.jpg);
}

/* -------------------------------------- */
/* ------- MIDBOT - TERCER MODULO  -------- */
/* -------------------------------------- */
.midbot {
  height: auto;
  background-size: cover;
  padding: 10px;
  background-blend-mode: soft-light;
  background: linear-gradient(270deg, #660708 5%, #E5383B 100%);
  place-items: center;
  border-radius: 2px;
  margin: 14px;
  margin-bottom: 40px;
}

.col {
  place-items: center;
}

.card {
  width: 100%;
  place-items: center;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.651);
}
.card:hover {
  cursor: pointer;
}
.card h6 {
  color: #BA181B;
  font-size: large;
}
.card h5 {
  font-size: 18px !important;
}

.camisetabutton {
  padding: 2px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: #0B090A;
  border-color: #A4161A;
}
.camisetabutton:hover {
  transform: scale(1.02);
  transition: all 0.3s;
  color: #FFFFFF;
  background-color: #BA181B;
}

.tiendapincha {
  height: 80px;
}
.tiendapincha:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.3s;
}

/*  ------------ FOOTER ------------ */
footer {
  background-color: #161A1D;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding-left: 30px;
  padding-right: 10px;
  padding-top: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: capitalize;
  height: 250px;
}
footer a {
  color: #FFFFFF;
}
footer a:hover {
  color: #BA181B;
}
footer p {
  text-decoration: none;
  text-transform: none;
}
footer ul {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  list-style: none !important;
  display: flex;
  gap: 15px;
}
footer .footertext p {
  color: #FFFFFF;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}
footer .redes {
  display: flex;
  justify-content: space-between;
}
footer .redes i {
  font-size: 17px;
  letter-spacing: 40px;
  color: #FFFFFF;
}
footer .redes i:hover {
  color: #BA181B;
}
footer .redes img {
  height: 60px;
  width: auto;
  margin-bottom: 20px;
}

/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*            VISTA            */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*          POSICIONES         */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
.titposiciones, .titplantel, .titnoticias {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.137)), url(./img/Fondocamisetas.jpg);
  background-position-y: 25%;
  background-size: cover;
  color: #FFFFFF;
  height: 300px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.521);
  padding-top: 120px;
  margin-bottom: 35px;
  animation-duration: 1s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}
.titposiciones h1, .titplantel h1, .titnoticias h1 {
  font-weight: bolder;
  font-style: italic;
  font-size: 90px;
  text-align: center;
  text-shadow: 2px 3px 3px black;
}
.titposiciones h5, .titplantel h5, .titnoticias h5 {
  font-weight: 100;
  font-size: 18px;
  text-align: center;
  text-shadow: 2px 3px 3px black;
  text-transform: uppercase;
  margin: 0;
}

.tf-2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.nombregoleador {
  font-weight: 400;
  text-transform: uppercase;
}

.thcolor {
  background-color: #161A1D;
  color: #F5F3F4;
}

.text-primary {
  color: #000000 !important;
}

/*  <!-- inicio proxpartidos --> */
.card-body {
  width: 100%;
  text-align: center;
  padding: 10px;
}
.card-body h3 {
  color: #B1A7A6;
  text-transform: uppercase;
  font-size: 11px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.card-body h4 {
  color: #161A1D;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  font-style: italic;
}

.cardpartpos {
  background-color: rgba(241, 240, 240, 0.3215686275);
  border-radius: 5px;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.651);
}

.partidospos {
  height: auto;
  padding: 15px;
}

.eqpos {
  display: flex;
  place-content: center;
}

.eqnamelogo {
  display: grid;
  place-items: center;
}
.eqnamelogo img {
  height: 45px;
}

/*  <!-- fin proxpartidos --> */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*            VISTA            */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*           PARTIDOS         */
/*  ------------   ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
.titfixture {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.137)), url(./img//fixture.jpg);
  background-position-y: 25%;
  background-size: cover;
  color: #FFFFFF;
  height: 300px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.521);
  padding-top: 120px;
  margin-bottom: 35px;
  animation-duration: 1s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}
.titfixture h1 {
  font-weight: bolder;
  font-style: italic;
  font-size: 90px;
  text-align: center;
  text-shadow: 2px 3px 3px black;
}
.titfixture h5 {
  font-weight: 100;
  font-size: 18px;
  text-align: center;
  text-shadow: 2px 3px 3px black;
  text-transform: uppercase;
  margin: 0;
}

.titfixturemes {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  font-size: 40px;
  padding-left: 30px;
  font-style: italic;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.432);
}

.fixture {
  height: auto;
}

.partidostotal {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fichapartidos {
  border: 2px solid #BA181B;
  border-radius: 4px;
  padding: 5px 75px 5px 75px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  color: #BA181B;
}
.fichapartidos:hover {
  background-color: #A4161A;
  color: #F5F3F4;
  transition: all 0.3s;
  cursor: pointer;
}

.fichapartidosdisabled {
  border: 2px solid #B1A7A6;
  border-radius: 4px;
  padding: 5px 75px 5px 75px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  color: #B1A7A6;
}

.partidosfecha {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.partidosliga {
  display: flex;
  margin-bottom: 30px;
  width: 97%;
}
.partidosliga h3 {
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  padding-left: 15px;
  font-style: italic;
  color: rgb(6, 160, 165);
}
.partidosliga img {
  height: 25px;
}

.fichapartido1 {
  height: auto;
}

.titfichapartido1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: linear-gradient(rgba(180, 5, 5, 0.664), rgba(0, 0, 0, 0.945)), url(./img/estadio\ bragantino.jpg);
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  height: auto;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.521);
  padding-top: 20px;
  margin-bottom: 35px;
  width: 100%;
  animation-duration: 1s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}
.titfichapartido1 h1 {
  font-weight: bolder;
  font-style: italic;
  font-size: 90px;
  text-align: center;
  text-shadow: 2px 3px 3px black;
}
.titfichapartido1 h5 {
  font-weight: 100;
  font-size: 18px;
  text-align: center;
  text-shadow: 2px 3px 3px black;
  text-transform: uppercase;
  margin: 0;
}

.titfichapartido2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: linear-gradient(rgba(255, 9, 9, 0.384), rgb(0, 0, 0)), url(./img/estadio\ uno.jpg);
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  height: auto;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.521);
  padding-top: 20px;
  margin-bottom: 35px;
  width: 100%;
  animation-duration: 1s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}
.titfichapartido2 h1 {
  font-weight: bolder;
  font-style: italic;
  font-size: 90px;
  text-align: center;
  text-shadow: 2px 3px 3px black;
}
.titfichapartido2 h5 {
  font-weight: 100;
  font-size: 18px;
  text-align: center;
  text-shadow: 2px 3px 3px black;
  text-transform: uppercase;
  margin: 0;
}

.btn-per {
  color: #fff;
  background-color: #BA181B;
  border-color: #BA181B;
}

.btn-emp {
  color: #fff;
  background-color: rgb(224, 192, 11);
  border-color: rgb(224, 192, 11);
}

.btn-gan {
  color: #fff;
  background-color: rgb(58, 190, 6);
  border-color: rgb(58, 190, 6);
}

.comollegan {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 30px;
  padding: 45px 0 20px 15px;
}

.cardpartficha {
  background-color: rgba(255, 255, 255, 0.3098039216);
  border-radius: 2px;
  height: auto;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.411);
}

.matchficha h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: 800;
}
.matchficha h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 200;
}

/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*        NOTICIAS             */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
.contenedornoticias {
  height: auto;
}

.contnoticias {
  padding: 15px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 380px 380px 380px;
  grid-template-areas: "img1not  img1not  img2not " "img3not  img4not  img5not" "img6not  img7not img8not" "img9not img10not img10not";
  grid-gap: 10px;
  margin-bottom: 50px;
}

/* ------------ CONTENEDOR VISTA NOTICIAS ------------ */
.desc1not, .desc2not, .desc3not, .desc4not, .desc4not, .desc5not, .desc6not, .desc7not, .desc8not, .desc9not, .desc10not {
  margin-top: 260px;
}
.desc1not .btndisabled, .desc2not .btndisabled, .desc3not .btndisabled, .desc4not .btndisabled, .desc4not .btndisabled, .desc5not .btndisabled, .desc6not .btndisabled, .desc7not .btndisabled, .desc8not .btndisabled, .desc9not .btndisabled, .desc10not .btndisabled {
  background-color: #B1A7A6;
  color: #FFFFFF;
}

.img1not {
  grid-area: img1not;
  background-image: url(./img/noticia1.jpg);
}

.img2not {
  grid-area: img2not;
  background-image: url(./img/noticia2.jpg);
}

.img3not {
  grid-area: img3not;
  background-image: url(./img/noticia3.jpg);
}

.img4not {
  grid-area: img4not;
  background-image: url(./img/noticia4.jpg);
}

.img5not {
  grid-area: img5not;
  background-image: url(./img/noticia6.jpg);
}

.img6not {
  grid-area: img6not;
  background-image: url(./img/noticia7.jpg);
  background-position-x: 10%;
}

.img7not {
  grid-area: img7not;
  background-image: url(./img/noticia8.jpg);
  background-position-x: 10%;
}

.img8not {
  grid-area: img8not;
  background-image: url(./img/noticia9.jpg);
}

.img9not {
  grid-area: img9not;
  background-image: url(./img/noticia10.jpg);
}

.img10not {
  grid-area: img10not;
  background-image: url(./img/sappa.jpg);
}

.titnoticias {
  background-image: linear-gradient(rgba(255, 0, 0, 0.562), rgb(0, 0, 0)), url(./img/noticiamatchday.jpg);
  background-size: contain;
}
.titnoticias h1 {
  padding-top: 40px;
  font-size: 50px;
  color: 0;
}
.titnoticias a {
  color: white;
}
.titnoticias .buttonnoticias {
  background-color: #BA181B;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  place-items: center;
  margin: auto;
  padding: 7px 40px 0 40px;
}
.titnoticias .buttonnoticias:hover {
  transform: scale(1.03);
  transition: all 0.3s;
  cursor: pointer;
  background-color: #161A1D;
  color: #FFFFFF;
}
.titnoticias .buttonnoticias h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* ------------ VISTA COMPLEMENTARIA NOTICIA ------------ */
.noticiacomple {
  height: auto;
  padding-top: 10px;
}
.noticiacomple .ntcompleimg {
  width: 100%;
  height: 500px;
}
.noticiacomple .ntcompleimg img {
  height: 70%;
}
.noticiacomple .ntcompletitle {
  padding: 70px 20px 20px 20px;
  background-color: #F5F3F4;
}
.noticiacomple .ntcompletitle h1 {
  font-family: "Cabin", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 15px;
}
.noticiacomple .ntcompletitle p {
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.noticiacomple .ntcomple {
  padding: 50px 20px 100px 20px;
  background-color: #F5F3F4;
}
.noticiacomple .ntcomple p {
  font-family: "Cabin", sans-serif;
  font-size: 17px;
}
.noticiacomple .ntcomple h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 25px;
}

.vermas {
  background-color: #F5F3F4;
  color: #161A1D;
  text-align: center;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  place-items: center;
  margin: auto;
  padding: 7px 60px 0 60px;
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.575);
}
.vermas:hover {
  transform: scale(1.03);
  transition: all 0.3s;
  cursor: pointer;
}
.vermas h2 {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*         plantel             */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
.titplantel {
  background-image: linear-gradient(rgba(238, 8, 8, 0.342), rgba(0, 0, 0, 0.425)), url(./img/fondoplantel1.jpg);
  background-position-y: 35%;
}

.mainplantel {
  height: auto;
  padding-bottom: 50px;
}

.content-arqueros, .content-mediocampistas, .content-defensores {
  padding-top: 15px;
  position: relative;
  padding-bottom: 150px;
}
.content-arqueros h2, .content-mediocampistas h2, .content-defensores h2 {
  text-transform: uppercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 65px;
  padding: 40px 0 15px 60px;
}

.content-defensores {
  padding-bottom: 150px;
}

.content-mediocampistas {
  padding-bottom: 150px;
}

.content {
  height: auto;
  text-align: center;
  margin: auto;
}

.jugador {
  position: relative;
  display: inline-block;
  height: 370px;
  width: 240px;
  background-color: #D3D3D3;
  place-items: center;
  margin-left: 5px;
  margin-right: 5px;
  border: 5px solid #D3D3D3;
  margin-bottom: 15px;
}
.jugador .jugadortxt {
  display: flex;
}
.jugador .jugadortxt .txtnumber {
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-weight: 900;
}
.jugador .jugadortxt .txtname {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  text-transform: uppercase;
}
.jugador .jugadortxt .txtname h3 {
  font-size: 17px;
  font-family: "Cabin", sans-serif;
  font-weight: 200;
  margin-bottom: 0;
}

.jugadorimg {
  width: 100%;
  height: 300px;
  margin: auto;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #D3D3D3;
}

/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*         MEDIAQUERY          */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
/*  ------------  ------------ */
@media only screen and (min-width: 1600px) {
  .fecha h1 {
    font-size: 185px;
  }
  .fecha h2 {
    font-size: 38px;
    margin-bottom: 12px;
    letter-spacing: 5px;
  }
  .fecha h3 {
    font-size: 27px;
  }
  .fecha h4 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 570px) {
  .fecha {
    padding: 50px !important;
  }
  .fecha h1 {
    font-size: 75px !important;
    text-align: center;
  }
  .fecha h2 {
    font-size: 17px !important;
    margin-top: 30px;
    text-align: center;
  }
  .fecha h3 {
    font-size: 18px !important;
    margin-top: 40px;
    text-align: center;
  }
  .fecha h4 {
    font-size: 17px !important;
    margin-top: 55px;
    text-align: center;
  }
  .descpartido {
    place-content: center !important;
    margin-top: 10px;
    width: 100%;
  }
  .img h1, .img2 h1, .img3 h1, .img4 h1, .img5 h1, .img6 h1 {
    font-size: 20px;
  }
  .img, .img2, .img3, .img4, .img5, .img6 {
    background-size: cover;
    background-position: top;
  }
  .titfixture h5 {
    font-size: 15px;
  }
  .titfixture h1 {
    font-size: 60px;
  }
  .titposiciones h5, .titnoticias h5, .titplantel h5 {
    font-size: 13px;
  }
  .titposiciones h1, .titnoticias h1, .titplantel h1 {
    font-size: 45px;
  }
  .titfixturemes {
    text-align: center;
    font-size: 27px;
    padding: 0;
    padding-bottom: 20px;
  }
  .comollegan {
    font-size: 25px;
    text-align: center;
  }
  .matchficha h2 {
    font-size: 2px;
  }
}
@media only screen and (max-width: 1300px) and (min-width: 900px) {
  .fecha h1 {
    font-size: 95px;
  }
  .fecha h2 {
    font-size: 18px;
    margin-bottom: 12px;
    letter-spacing: 4px;
  }
  .fecha h3 {
    font-size: 13px;
  }
  .fecha h4 {
    font-size: 17px;
  }
  .fecha {
    padding-bottom: 0;
  }
  .nright {
    place-content: center;
  }
  .card2 {
    width: 70%;
  }
  .img, .img2, .img3, .img4, .img5, .img6 {
    background-size: cover;
    background-position: top;
  }
  .cont.cont1 {
    padding: 15px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 350px 350px;
    grid-template-areas: "img1 img2" "img3 img4" "img5 img6";
  }
  .contnoticias {
    padding: 15px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 380px 380px;
    grid-template-areas: "img1not  img1not" "img2not  img3not" "img4not  img5not" "img6not img7not" "img8not img9not" "img10not img10not";
    grid-gap: 10px;
    margin-bottom: 50px;
  }
  .titnoticias {
    background-size: cover;
  }
  .titnoticias h1 {
    font-size: 35px;
    text-align: center;
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 900px) and (min-width: 320px) {
  .cont.cont1 {
    padding: 15px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 350px 350px 350px;
    grid-template-areas: "img1 img1 img1 " "img2 img2 img2 " "img3 img3 img3 " "img4 img4 img4 " "img5 img5 img5 " "img6 img6 img6 ";
  }
  .sec h2 {
    font-size: 25px;
  }
  .matchficha h2 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 15px;
  }
  .matchficha h3 {
    font-size: 12px;
    text-align: center;
  }
  .contnoticias {
    padding: 15px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 380px 380px 380px;
    grid-template-areas: "img1not  img1not img1not" "img2not  img2not img2not" "img3not  img3not img3not" "img4not  img4not img4not" "img5not  img5not img5not" "img6not  img6not img6not" "img7not  img7not img7not" "img8not  img8not img8not" "img9not  img9not img9not" "img10not  img10not img10not";
    grid-gap: 10px;
    margin-bottom: 50px;
  }
  .titnoticias {
    background-size: cover;
  }
  .titnoticias h1 {
    font-size: 17px;
    text-align: center;
    padding-bottom: 20px;
  }
  .desc1not h1 {
    font-size: 15px !important;
  }
  .ntcompleimg {
    background-position: center;
  }
  .ntcompletitle {
    text-align: center;
  }
  .ntcompletitle h1 {
    font-size: 30px;
  }
  .ntcompletitle p {
    font-size: 10px;
  }
  .ntcomple {
    text-align: center;
  }
  .ntcomple p {
    font-size: 18px !important;
  }
  .ntcomple h1 {
    text-align: center;
    font-size: 13px !important;
  }
  footer {
    font-size: 13px;
    height: 310px;
    padding-right: 20px;
  }
  footer .footertext p {
    font-size: 18px;
  }
  footer .redes {
    display: flex;
    justify-content: space-between;
  }
  footer .redes i {
    font-size: 17px;
    letter-spacing: 40px;
    color: #FFFFFF;
  }
  footer .redes i:hover {
    color: #BA181B;
  }
  footer .redes img {
    height: 60px;
    width: auto;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 650px) and (min-width: 320px) {
  footer {
    height: 360px;
  }
  footer ul {
    font-size: 12px;
    margin-bottom: 20px;
  }
  footer .footertext p {
    color: #FFFFFF;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
  }
  footer .redes {
    display: inline-block;
    justify-content: center;
    margin-bottom: 20px;
  }
  footer .redes i {
    font-size: 17px;
    letter-spacing: 20px;
    color: #FFFFFF;
    padding-left: 10px;
  }
  footer .redes i:hover {
    color: #BA181B;
  }
  footer .redes img {
    height: 60px;
    width: auto;
    margin-bottom: 20px;
  }
}
/* -------------------------------------- */
/* -------------------------------------- *//*# sourceMappingURL=estilos.css.map */